# Temporary files

/public/media/*
!/public/media/.gitkeep

# Composer dependencies

/vendor
/site/plugins/kirby-help-view

# Accounts

/storage/accounts/*
!/storage/accounts/.gitkeep

# License

/storage/.license

# Runtime Files

/runtime/cache/*
!/runtime/cache/.gitkeep

/runtime/logs/*
!/runtime/logs/.gitkeep

/runtime/sessions/*
!/runtime/sessions/.gitkeep